@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nanum+Myeongjo&family=Ojuju:wght@200..800&family=Oswald:wght@200..700&display=swap');

/* General Styles */
body {
  text-align: center;
  background: #02191D;
  color: white; 
  margin: 0;
  padding: 0;
  font-family: "Madimi One", serif;
}

/* Container */
.container {
  width: 90%;
  max-width: 450px;
  margin: 50px auto;
  background: #0E464F;
  padding: 20px;
  border-radius: 10px;
  border: 1px thin rgba(36, 160, 181, 0.20);
}

.home {
  background: radial-gradient(52.52% 32.71% at 50% 97.66%, rgba(36, 160, 181, 0.20) 0%, rgba(36, 160, 181, 0.00) 100%), #02191D;
  border-radius: 20px;
  padding: 10px;
  border: 1px thin rgba(36, 160, 181, 0.20);
}

.top {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.top h1 {
  font-size: 23px;
}

.top span {
  font-size: 11px;
}

.home h3 {
  font-weight: bold;
  font-size: 30px;
}

.home h4 {
  padding: 5px;
}

.home p {
  padding-bottom: 5px;
}

.tope {
  font-size: 16px;
  border-top: 3px solid rgba(36, 160, 181, 0.20) 0%;
  display: flex;
  align-self: flex-start;
}

.ticbox {
  background: rgba(36, 160, 181, 0.00) 100%;
  border: 1px thin rgba(36, 160, 181, 0.20);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;
}

.bubox {
  background: #02191D;
  border: 1px thin rgba(36, 160, 181, 0.20);
  gap: 30px;
  padding: 17px;
  border-radius: 3px;
  box-shadow: 4px 4px 3px rgb(15, 66, 48);
}

.buo1 {
  font-size: 9px;
  color: white;
}

.buo2 {
  font-size: 7.9px;
  color: white;
}

.group {
  background: #02191D;
  border: 1px solid #24b3cc;
  color: white;
  margin: 7px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  width: 90%;
}

.group.selected {
  background-color: #47e04c;
  border-color: #2dce35;
}

.group:hover {
  transform: scale(1.05);
}

.bubox:first-of-type .group {
  border: 1px solid #22adc5;
  background: #22adc5;
  color: white;
}


.ticket-divider {
  width: 99%;
  margin: 10px auto;
  border: none;
  height: 2px;
  background: linear-gradient(to right, #053107, #24922a);
}

.ticket-divider1 {
  width: 99%;
  margin: 10px auto;
  border: none;
  height: 2px;
  background: #4caf50;
}

.ela {
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

#quantity {
  width: 100%;
  padding: 10px;
  background: #04262c;
  border: 1px thin rgba(36, 160, 181, 0.20);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

#quantity:hover, #quantity:focus {
  outline-color: bisque;
}

.homebuos {
  background: #02191D;
  border: 1px thin rgba(36, 160, 181, 0.20);
  border-radius: 20px;
  margin-top: 10px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

.homebuos .next {
  background: #02191D;
  color: #24b3cc;
  border: 1px solid #22adc5;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 15px;
  cursor: pointer;
}

.homebuos .next:hover, .homebuos .next:focus {
  background: #24b3cc;
  color: #02191D;
}

.homebuos .cancel {
  color: white;
  background: #24A0B5;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.homebuos .cancel:hover,.homebuos .cancel:focus {
  color: #24A0B5;
  background: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

label {
  font-weight: bold;
  color: white;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  background: #02191D;
  color: #24b3cc;
  border: 1px solid #22adc5;
  transition: border 0.3s ease-in-out;
  padding-left: 29px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 10px;
}

input:focus {
  border: 2px solid #f0fdf4; 
  background-color: dodgerblue;
  outline: lawngreens;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.input-field {
  width: 100%;
  padding: 10px 10px 10px 40px; 
  border: 2px solid #388e3c;
  border-radius: 5px;
  font-size: 16px;
}

.input-icon {
  position: absolute;
  top: 657px;
  color: white;
  font-size: 15px;
  padding-left: 10px;
}

.preview {
  width: 90%;
  height: 140px;
  border-radius: 40%;
  border: 3px solid wheat;
  margin-top: 10px;
}

.bac {
  background: #02191D;
  color: #24b3cc;
  border: 1px solid #22adc5;
  padding: 7px 21px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.bac:hover {
  background: #24b3cc;
  color: #02191D;
}

.bac:focus {
  outline-color: darkturquoise;
}

.bot {
  display: flex;
  justify-content: space-around;
}


.get:focus {
  outline-color:cyan;
}

.get:hover {
  background: white;
  color: #22adc5;
}

.get {
  background: #22adc5;
  color: white;
  border: 1px solid #22adc5;
  padding: 7px 21px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.error {
  color: orange;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.containere {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: radial-gradient(52.52% 32.71% at 50% 17.66%, rgba(36, 160, 181, 0.20) 0%, rgba(36, 160, 181, 0.00) 100%), #02191D;
  border: 2px solid #24b3cc;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.containere::before,
.containere::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #0E464F;
}

.containere::before {
  top: -15px;
  left: -15px;
  border-bottom-right-radius: 30px;
}

.containere::after {
  top: -15px;
  right: -15px;
  border-bottom-left-radius: 30px;
}
.ticket {
  background: radial-gradient(52.52% 32.71% at 50% 17.66%, rgba(36, 160, 181, 0.20) 0%, rgba(36, 160, 181, 0.00) 100%), #02191D;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  border: 2px solid #24b3cc;
 }

 
.ticket::before,
.ticket::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #0E464F;
}

.ticket::before {
  bottom: -15px;
  left: -15px;
  border-top-right-radius: 30px;
}

.ticket::after {
  bottom: -15px;
  right: -15px;
  border-top-left-radius: 30px;
}

 .event-details {
  text-align: center;
  margin: 30px 0;
}

.event-details h3 {
  font-size: 28px;
  font-weight: bold;
}

.event-details h4 {
  font-size: 15px;
  font-weight: bold;
}

.event-details p {
  font-size: 15px;
  font-weight: normal;
  color: #d5f3d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticke {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgba(36, 160, 181, 0.20);
  border-radius: 20px;
}

.ticke div::before,
.ticke div::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #0E464F;
}

.ticke div::before {
  bottom: 145px;
  left: -15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.ticke div::after {
  bottom: 145px;
  right: -15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.ticke div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0E464F;
  border: 1px solid rgba(71, 235, 158, 0.2);
  color: white;
  padding: 10px;
  border-radius: 1px;
}

.ticket div span:nth-child(2) {
  font-weight: bold;
  font-size: 17px;
}

.tickette p {
  text-align: left;
  color: white;
  padding: 10px;
  background: #0E464F;
  border: 1px solid rgba(71, 235, 158, 0.2);
  border-radius: 2px;
  margin-top: -1px;
}

.avatar {
  display: block;
  margin: 30px auto;
  width: 120px;
  height: 120px;
  border: 5px solid #0f766e;
  border-radius: 14%;
}

.qrcode {
  width: 300px;
  padding: 9px;
  height: 90px;
  display: block;
  margin: 10px auto;
}

.code::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-top: 2px dashed #0f766e;
  margin: 20px 0;
}

.ticket-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 16px;
}

.book-again {
  background: #02191D;
  color: #24b3cc;
  border: 1px solid #22adc5;
  padding: 12px 23px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.book-again:hover {
  color: linear-gradient(135deg, #065f46, #0f766e);
  transform: scale(1.05);
  background: whitesmoke;
}

.download-ticket {
  background: #22adc5;
  color: white;
  padding: 12px 23px;
  font-size: 14px;
  border: 1px solid #22adc5;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s;
}

.download-ticket:hover {
  background: #047857;
  color: #f0fdf4;
}

.dropzone {
  margin: 20px;
}

.dropzone label {
  padding-bottom: 30px;
}

.dropzon {
  padding: 20px;
  border-radius: 10px;
  background: #02191D;
  align-self: center;
  position: relative;
}

.dropzo {
  background: #0E464F;
  padding: 20px;
  border: 3px solid #24b3cc;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  color: white;
  font-weight: bold;
  width: 40%;
  padding-top: 10px;
  margin-top: -35px;
  margin-bottom: -36px;
  margin-left: 75px;
}
.dropzone:hover {
  background: linear-gradient(135deg, #065f46, #0f766e, #34d399);
  transform: scale(1.05);
}

.dropzone:active {
  background: linear-gradient(135deg, #064e3b, #047857, #0f766e);
}


/* Responsive Design */
@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}
